.old/
.test/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# video
*.mp4

# Pyre type checker
.pyre/
deprecated/record/Img/3.sift
deprecated/record/Img/4.JPG
deprecated/record/Img/4.mat
deprecated/record/Img/4.sift
deprecated/record/Img/5.JPG
deprecated/record/Img/5.mat
deprecated/record/Img/5.sift
deprecated/record/Img/6.JPG
deprecated/record/Img/6.mat
deprecated/record/Img/6.sift
deprecated/record/Img/7.JPG
deprecated/record/Img/7.mat
deprecated/record/Img/7.sift
deprecated/record/Img/8.JPG
deprecated/record/Img/8.mat
deprecated/record/Img/8.sift
deprecated/record/Img/9.JPG
deprecated/record/Img/9.mat
deprecated/record/Img/9.sift
deprecated/record/Img/test.ply
deprecated/record/Img/캡처.JPG
deprecated/record/Img/캡처.mat
deprecated/record/Img/캡처.sift
deprecated/record/pngToJpg.py
deprecated/record/Img/3.mat
deprecated/record/Img/3.JPG
deprecated/record/Img/2.sift
deprecated/record/Img/2.mat
deprecated/record/Img/2.JPG
deprecated/record/Img/19.sift
deprecated/record/Img/19.mat
deprecated/record/Img/19.JPG
deprecated/record/Img/18.sift
deprecated/record/Img/18.mat
deprecated/record/Img/18.JPG
deprecated/record/Img/17.sift
deprecated/record/Img/17.mat
deprecated/record/Img/17.JPG
deprecated/record/Img/16.sift
deprecated/record/Img/16.mat
deprecated/record/Img/16.JPG
deprecated/record/Img/15.sift
deprecated/record/Img/15.mat
deprecated/record/Img/15.JPG
deprecated/record/Img/14.sift
deprecated/record/Img/14.mat
deprecated/record/Img/14.JPG
deprecated/record/Img/13.sift
deprecated/record/Img/13.mat
deprecated/record/Img/13.JPG
deprecated/record/Img/12.sift
deprecated/record/Img/12.mat
deprecated/record/Img/12.JPG
deprecated/record/Img/11.sift
deprecated/record/Img/11.mat
deprecated/record/Img/11.JPG
deprecated/record/Img/10.sift
deprecated/record/Img/10.mat
deprecated/record/Img/10.JPG
deprecated/record/Img/1.sift
deprecated/record/Img/1.mat
deprecated/record/Img/1.JPG
deprecated/DataProcessing/test4.py~
deprecated/DataProcessing/test4.py
deprecated/DataProcessing/test3.py~
deprecated/DataProcessing/test3.py
deprecated/DataProcessing/test2.py~
deprecated/DataProcessing/test2.py
deprecated/DataProcessing/test.py~
deprecated/DataProcessing/test.py
deprecated/DataProcessing/S4q.txt
deprecated/DataProcessing/S4_old.mp4
deprecated/DataProcessing/S4.txt
deprecated/DataProcessing/S4.mp4
deprecated/DataProcessing/S4-Q.txt
deprecated/DataProcessing/S4-P.txt
deprecated/DataProcessing/S4-Entropy.txt
deprecated/DataProcessing/opticflow.py~
deprecated/DataProcessing/opticflow.py
deprecated/DataProcessing/farneback_back_up.py
deprecated/DataProcessing/farneback6.py~
deprecated/DataProcessing/farneback6.py
deprecated/DataProcessing/.#test2.py
deprecated/DataProcessing/#test4.py#
deprecated/DataProcessing/#test.py#
deprecated/DataProcessing/#farneback_back_up.py#
deprecated/DataProcessing/#farneback6.py#
kullback_leibler_divergence.py~
deprecated/VideoDataProcessed/올빼미/S4.xlsx
deprecated/VideoDataProcessed/올빼미/S4.json
#process_video_data.py#
data/raw/video/20190703_114418.mp4
